body


h1 {
  color: blue;
  text-align: center;
  background-color: yellow;
   font-size: 50px;
   font-style: italic;

}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
  color: green;
}
p1 {
  font-family: sans-serif;
  color: red;
